:root {
    --color-brandblack: rgb(33,33,33); 
    --color-brandblue: rgb(33,150,243);
    --color-brandgrey: rgb(75,75,75);
   }
   
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-brandblack);
  }
  
  .p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: var(--color-brandgrey);
  }
  
  .h2 {
    font-size: 1rem;
    line-height: 2;
  }
  .link {
    text-decoration: none;
    color: var(--color-brandblack);
  }
  
  .link:hover,
  .link:focus {
    color: var(--color-brandblue);
  }
  
  .list {
    list-style-type: none;
  }
 
  .button:hover,
  .button:focus {
    color: var(--color-brandblue);
  }

  .logo {
    font-family: "Raleway", sans-serif;
    /*color:  linear-gradient(to right, #1c87c9 50%, #8ebf42 50%);*/
    color: var(--color-brandblue);
  }